@font-face {
    font-family: 'Alegreya Sans SC ExtraBold';
    src: url('AlegreyaSansSC-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AlegreyaSans-Regular';
    src: url('AlegreyaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alegreya Sans SC Bold';
    src: url('AlegreyaSansSC-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alegreya Sans ExtraBold';
    src: url('AlegreyaSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alegreya Sans Medium';
    src: url('AlegreyaSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alegreya Sans Medium Italic';
    src: url('AlegreyaSans-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alegreya Sans Bold';
    src: url('AlegreyaSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alegreya Sans SC Medium';
    src: url('AlegreyaSansSC-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}